/*  your css code here. If applicable */
.body{
	background-color: #f8f8f8;
}
.book{
.Price-block{
		background-color: rgb(46, 204, 113);
	background-color: #ffffff;
}
.book-library{
		background-color: #ffffff;

.Price-block{
		background-color: rgb(46, 204, 113);
	}
.Author{
	color: #777777;
	}